
nav {
    background-color: #4b0404;
    padding: 1rem 1rem;
  }
  
  #search_btn {
    background-color: #ffd500;
    color: #4b0404;
  }

  .navbar-brand a:hover, a:visited, a:link, a:active {
    text-decoration: none!important;

    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }
  #header {
    color: #ffd500;
  }

  #usename {
    color: #ffd500;
  }
  
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
  
  .input-group {
    width: 90%;
    margin-right: 35%;
  }
  
  #search_field {
    height: 2.4rem;
    padding: 1rem;
  }
  
  #login_btn,
  #view_btn {
    background-color: #ffd500;
    padding: 0.4rem 1.8rem;
    font-family: calibri;
    color: #4b0404;
  }
  
  #cart {
    font-size: 1rem;
    color: #ffd500;
  }
  
  #cart_count {
    background-color: #ffd500;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    color: #4b0404;
    font-weight: bold;
    font-size: 0.9rem;
  }

  /* Header User Profile */

.avatar-nav {
  margin-right: 0.6rem;
  height: 2.2rem;
  width: 2.2rem;
}